/* PrivacySettings.css */

.profile-item {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .profile-label h2 {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }
  
  .profile-label p {
    color: #666;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif !important;
  }
  
  .privacy-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  
  .privacy-label {
    font-weight: normal;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif !important;
  }
  